*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color:black;
    color:azure;
}
header{
    background-color:rgb(70, 61, 61);
    width:90vw;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:white;
    align-items: center;
}
.menu{
    display: grid;
    align-items: center;
    margin-left: 2rem;
}
.menu ul{
    display:flex;
    width: 30vw;
    list-style-type: none;
    justify-content: space-around;
    text-shadow: 2px 2px 2px rgb(136, 170, 170);
}
img{
    width:10rem;
    height: auto;
   
}
.search{
    width: 20vw;
    display: flex;
    align-items: center;
}
.search input{
    height: 2rem;
    width: 15rem;
    border-radius: 2rem;
    text-align: center;
    margin-right: 0.5rem;
}
.blog-1{
    /* background-color: bisque; */
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 40vh;
    margin: auto;
}
.blog-1 h2{
    text-align:start;
    margin-bottom: 4px;
   color:yellowgreen
}
.blog-1 .content{
    text-align:start;
    width: 50vw;
    font-size: large;
    padding: 3rem 3px;
    margin-left: 2rem;
}

.blog-1_img{
    display: grid;
    width:30vw;
    justify-content: center;
    align-items: center;
}
.blog-1_img img{
    display: grid;
   width:30vw;
   height: 30vh;
   
}
.featured{
    width: 90vw;
    /* background-color: rgb(223, 215, 205); */
    margin:1rem auto;
    display: flex;
    justify-content:space-evenly;
    box-shadow: 2px 3px 4px rgb(204, 105, 204);
}
.featured div{
    width:25vw;
    height: auto;
    text-align: center;
}
.featured img{
    width:23vw;
    height: auto;
    margin: auto;
    border-radius: 3rem;
}
